/* layout */

#site-header{
    padding: 0;
    margin: 0;
    height: 240px;
}

#site-title{
    margin: 35px 0 0 0;
}

#content{
    position: relative;
    top: -80px;
}

/* content-main */
#content-main{
    padding: 0 15px 0 15px;
    margin: 0;
}

.detail{
    padding: 30px 0;
}

.detail header{
    margin: 0 0 30px 0;
}

.detail-content{
    padding: 0 30px 0 30px;
}

.detail-content{
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 105%;
}

.detail .post-title{
    font-weight: bold;
}

.detail-content h1, .detail-content h2, .detail-content h3, .detail-content h4, .detail-content h5{
    font-weight: bold;
    margin: 20px 0;
}

.detail-content p{
    margin: 0;
}

.detail-content p img{
    display: block;
    margin: 10px auto;
}

.detail-content pre{
    margin: 10px auto;
}

.detail blockquote{
    font: 95% normal;
    margin: 10px 0 10px 30px;
    padding: 8px 15px;
}

.post{
    padding: 10px 15px;
    margin: 0 0 20px 0;
}

.post-title{
    padding: 0;
    margin: 0 0 10px 0;
}

.post-info{
    padding: 0;
    margin: 0 0 10px 0;
}

.post-time, .post-tags, .post-visVolume{
    padding-right: 8px;
}

.post-tags span{
    padding: 0 2px;
}

.post-excerpt{
    padding: 0 25px;
    margin: 0 0 20px 0;
}

.read-more{
    padding: 8px 0;
    margin: 0 0 10px 0;
    text-align: center;
}

.read-more a{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 5px;
}


.paging-bar{
    text-align: center;
    padding-top: 10px;
}

.paging-bar ul{
    margin: 0;
    padding: 0;
}

/* content-aside */
#content-aside{
    padding: 0 15px 0 15px;
    margin: 0;
}

#content-aside > div{
    padding: 15px 20px;
    margin: 0 0 20px 0;
}

#content-aside > div > h3{
    margin: 0 30px 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid rgba(60, 60, 60, 0.7);
}

#catalogue li{
    line-height: 200%;
}

#archives ul, #tag-cloud ul, #category ul{
    padding: 0;
    margin: 0;
}

#search-input, #search-submit{
    height: 40px;
}

#search-input{
    width: 200px;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 110%;
    border-width: 1px;
}

#search-input:focus{
    outline: none;
}

#about div{
    margin: 20px 35px 0 35px;
    border-top: 2px solid rgba(60, 60, 60, 0.7);
}

#my-name{
    padding: 15px 0 0 0;
    margin: 0;
}

#my-intro{
    padding: 8px 0;
    margin: 0;
}

footer{
    padding: 0 0 20px 0;
    margin: 0;
}

.copyright{
    padding: 5px 0;
    margin: 0;
}

/* color */
body{
    background-color: rgb(237, 237, 237);
    font-family: verdana,Helvetica£¬Arial, sans-serif ;
}

#site-header{
    background-color: rgba(120, 154, 150, 0.4);
    /*background: transparent;*/
}

#site-title, #site-title a{
    color: #e5e5e5;
    font-size: 205%;
    letter-spacing: 1px;
}

body{
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    background-size: cover;
}

#content, .post a, .post-info a, #content-aside a, #site-footer{
    color: #111;
}

#content a, #site-header a{
    text-decoration: none;
}

.post header, .detail header{
    text-align: center;
}

.post, .detail, #content-aside > div{
    background-color: rgba(238, 238, 238, 0.8);
}

.post{
    box-shadow: 3px 3px 5px #aaa;
}

.detail{
    box-shadow: 1px 1px 5px #aaa;
}

.detail blockquote{
    border-left: 5px solid rgba(160, 160, 160, 0.6);
    background-color: rgba(220, 220, 220, 0.6);
}

.post-excerpt{
    font-size: 100%;
    letter-spacing: 1px;
    text-indent: 50px;
}

.read-more{

    font-size: 150%;
}

.paging-bar li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}

.paging-bar li a{
    font-size: 130%;
    color: black;
}

.paging-bar a:hover{
    color: white;
}

.current-page{
    border-bottom: 1px solid black;
    font-size: 170% !important;
}

#content-aside > div{
    box-shadow: 1px 1px 5px #aaa;
}

#content-aside li{
    list-style-type: none;
}

#catalogue li{
    list-style-type: disc;
}

#archives li, #category li{
    margin: 0 0 5px 0;
    line-height: 150%;
    letter-spacing: 1px;
}

#search-input{
    background-color: rgb(245,245,245);
}

#tag-cloud li{
    display: inline-block;
    border: 1px solid black;
    padding: 3px 8px;
    margin: 0 5px 5px 0;
    border-radius: 8px;
}

#about{
    text-align: center;
}

#about img{
    border-radius: 100px;
    width: 128px;
    height: 128px;
}

.copyright{
    border-top: 1px solid rgba(43, 43, 43, 0.8);
    text-align: center;
    letter-spacing: 1px;
    color: black;
}